<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Recicla+ | Reciclagem e Meio Ambiente</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>

<body>

    <header>
        <h1>♻️ Recicla+</h1>

        <nav>
            <a href="/">Início</a>
            <a href="#reciclagem">Reciclagem</a>
            <a href="#materiais">Materiais</a>
            <a href="#sobre">Sobre</a>
        </nav>
    </header>

    <main>

        <section class="hero" id="reciclagem">

            <h2>Bem-vindo ao Recicla+ 🌱</h2>

            <p>
                A reciclagem é uma forma de reutilização de materiais
                que contribui para a preservação do meio ambiente.
            </p>

            <a href="#materiais" class="btn">
                Aprenda a reciclar
            </a>

        </section>

        <form method="POST" action="/">
        <label for="material">Escolha um material</label>
            <select name="material" id="material">
            <option value="">Selecione</option>
            <option value="plastico">Plastico</option>
            <option value="Vidro">Vidro</option>
            <option value="papel">Papel</option>
            <option value="metal">Metal</option>
            <option value="residuos eletronicos">Residuos Eletronicos</option>
            <option value="madeira">Madeira</option>
            <option value="residuos organicos">Residuos Organicos</option>
            <option value="materiais medicos">Materiais Medicos</option>
            <option value="residuos radioativos">Residuos Radioativos</option>
            <option value="rejeitos">Rejeitos</option>   
            <button type="submit">Consultar</button>
            </select>
            <button type = "submit">Consultar</button>
</form>

<p>{{ resultado }}</p>
       


        <section class="materiais" id="materiais">

            <h2>Materiais Recicláveis</h2>

            <p>
                Conheça os principais materiais que podem ser reciclados
                e contribuem para a preservação do meio ambiente.
            </p>


            <div class="cards">

                <div class="card">
                    <h3>♻️ Plástico</h3>

                    <p>
                        Garrafas PET, embalagens e alguns tipos
                        de recipientes plásticos podem ser reciclados.
                    </p>
                </div>


                <div class="card">
                    <h3>♻️ Papel</h3>

                    <p>
                        Jornais, revistas, caixas de papelão
                        e folhas podem ser reciclados.
                    </p>
                </div>


                <div class="card">
                    <h3>♻️ Vidro</h3>

                    <p>
                        Garrafas, potes e outros recipientes
                        de vidro podem ser reciclados.
                    </p>
                </div>

            </div>

        </section>

    </main>


    <footer id="sobre">
        <p>♻️ Recicla+ — Cuidando do planeta através da reciclagem.</p>
    </footer>

</body>

</html>
